.App {
  background-color: #894e3f;
  background-image:  url('./assets/torta.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mr-auto{
  font-size: 50px;
  
  
}


.navLinkSpacing{
  margin-right: 20%;
  
}

/* Login.css */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.slider-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 300px; /* Adjust the height as needed */
  margin-bottom: 20px; /* Space between images */
    background-color: rgba(255, 255, 255, 0.8); /* Background color */

}

.slider-image {
  max-width: calc(100% - 200px); /* Adjust the image width */
  max-height: 100%;
  object-fit: contain;
  margin-left: 15%;
}

.text-container {
  
  color: #000000;
  font-family: "Playfair Display-Bold";
  font-size: 17px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.77px;
  line-height: normal;
  top: 0;
  padding: 10px;
}

.image-text {
  margin: 20%;
  
}
/* Gallery.css */
.gallery-container {
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust grid columns for 2x3 layout */
  gap: 10px;
  margin-left: 10%;
}

.image-link {
  text-decoration: none;
}

.grid-image {
  width: 56%;
  height: auto;
  display: block;
}
/* ProductList.css */
.grid-image2 {
  width: 40%;
  height: 50%;
  display: block;
}


/* CakeDetails.css */
.cake-details {
  display: flex;
  align-items: center;
}

.cake-image img {
  width: 70%;
  height: auto;
  margin-left: 10%;
  border-radius: 8px;
  position: relative;
  display: inline-block;
}

.cake-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  margin-right: 10%;
}

/* Button styles */
.cake-info button {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.order-button {
  padding: 10px 20px;
  background-color: #B87651;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.cake-info button:hover {
  background-color: #d84315;
} 
.comments-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background for the button */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; /* Ensure the button is above the overlay */
}

.image-container {
  position: relative;
  display: inline-block;
}



.overlay {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 70%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
  opacity: 1;
  border-radius: 8px;
}



/* AddProduct component styles */
.form-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2%;
  border-radius: 10px;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form-label {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.action-button {
  background-color: #3498db;
  color: white;
  padding: 8px;
  margin-top: 5px;
  margin-right: 5%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  flex-direction: column;
}
